.form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 300px;
	gap: 8px;
	border: 1px, solid, black;
	border-radius: 5px;
	margin: 0 auto 20px auto;
	padding: 8px;
}

.input {
	width: 270px;
}
.inputError {
	color: rgb(240, 71, 71);
	font-weight: 400;
}
